@use "../utils/variables";


.cardFoodDetail {
  display: flex;
  padding: 1rem;
  width: 258px;
  height: 124px;
  background-color: variables.$whiteGrey;
  &_container {
    background-color: variables.$redOpacity;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    width: 60px;
    height: 60px;
    &_img {
    }
  }
  &_content {

    &_title {

    }
    &_text {

    }
  }
}
