@use "../utils/variables";


.cardFoodDetail {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 258px;
  height: 124px;
  border-radius: 5px;
  background-color: variables.$whiteGrey;
  &_container {
    background-color: variables.$redOpacity;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    width: 60px;
    height: 60px;
    &_img {
    }
  }
  &_content {
    margin-left: 24px;
    & h4 {
      margin: 0;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: variables.$greyBlack;
    }
    & span {
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      color: variables.$greyText;
    }
  }
}
