$red: #E60000;
$grey: #C4C4C4;
$greyBlack: #282D30;
$black: #020203;
$white: #ffffff;

$redText: #FF0101;
$greyText: #74798C;
$blackText: #20253A;

$breakpoints: (mobile: 375px, mobileXl: 450px, tablet: 768px, laptop: 1024px, desktop: 1440px);

$middleZIndex: 5;
$topZIndex: 10;
