@use "../utils/variables";

.titleContent {
  margin: 23px 90px 0 109px;
  display: flex;
  flex-direction: column;
  align-items: start;
  & h1 {
    font-weight: 500;
    font-size: 48px;
    line-height: 24px;
    & span {
      text-align: left;
      color: variables.$redText;
    }
  }
  & h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }
}

.profile {
  margin: 32px 90px 0 109px;
  display: grid;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  &_activityContent {
    grid-area: 1 / 1 / 2 / 4;
    height: 320px;
    border-radius: 5px;
    background-color: variables.$whiteGrey;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.0212249);
  }
  &_sessions {
    grid-area: 2 / 1 / 3 / 2;
    height: 263px;
    border-radius: 5px;
    background-color: variables.$red;
  }
  &_performance {
    grid-area: 2 / 2 / 3 / 3;
    height: 263px;
    border-radius: 5px;
    background-color: variables.$greyBlack;
  }
  &_score {
    grid-area: 2 / 3 / 3 / 4;
    height: 263px;
    border-radius: 5px;
    background-color: variables.$whiteGrey;
  }
  &_infoContent {
    grid-area: 1 / 4 / 3 / 5;
    display: flex;
    flex-direction: column;
    gap: 39px;
  }
}

@media (max-width: 1024px) {
  .profile {
    grid-template-columns: repeat(3, 1fr);
    &_infoContent {
      grid-area: 1 / 1 / 2 / 4;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    &_activityContent {
      grid-area: 2 / 1 / 3 / 4;
    }
    &_sessions {
      grid-area: 3 / 1 / 4 / 2;
    }
    &_performance {
      grid-area: 3 / 2 / 4 / 3;
    }
    &_score {
      grid-area: 3 / 3 / 4 / 4;
    }
  }
}


@media (max-width: 768px) {
  .titleContent {
    margin: 23px 30px 0 30px;
  }

  .profile {
    margin: 32px 30px 0 30px;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    grid-template-columns: 1fr;
    &_infoContent {
      grid-area: 1 / 1 / 2 / 2;
    }
    &_activityContent {
      grid-area: 2 / 1 / 3 / 2;
    }
    &_sessions {
      grid-area: 3 / 1 / 4 / 2;
    }
    &_performance {
      grid-area: 4 / 1 / 5 / 2;
    }
    &_score {
      grid-area: 5 / 1 / 6 / 2;
    }
  }
}

@media (max-width: 425px) {
  .titleContent {
    margin: 23px 15px 0 15px;
    & h1 {
      font-size: 38px;
    }
    & h2 {
      font-size: 15px;
    }
  }

  .profile {
    margin: 32px 15px 0 15px;
  }
}

