@use "../utils/variables";

.asideBar {
  position: absolute;
  left: 0;
  width: 117px;
  height: 90.21vh;
  padding-top: 9.79vh;
  display: flex;
  justify-content: center;
  color: white;
  background: variables.$black;
  z-index: variables.$middleZIndex;
  &_ul {
    padding-left: 0;
    margin-top: 26vh;
    &_li {
      margin-bottom: 20px;
    }
  }

  &_copyright {
    position: absolute;
    bottom: 59px;
    p {
      font-size: 12px;
      font-weight: 500;
      line-height: 24px;
      transform: rotate(180deg);
      writing-mode: vertical-lr;
    }
  }
}

@media (max-width: 1024px) {
  .asideBar {
    height: 152vh;
  }
}

@media (max-width: 768px) {
  .asideBar {
    width: 70px;
    height: 200vh;
  }
  .logoAsideBar {
    height: 50px;
    width: auto;
  }
}
