.link {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
  transition: transform 400ms;
}
.link:hover {
  transform: scale(1.1);
  filter: brightness(0.5);
}

.button {
  margin: 10px;
  padding: 5px 10px;
  cursor: pointer;
  color: #ffffff;
  background-color: #020203;
  border-radius: 7px;
  font-size: 24px;
  transition: transform 400ms;
}
.button:hover {
  transform: scale(1.1);
}

@media (max-width: 425px) {
  .link {
    font-size: 17px;
  }
}
.cardFoodDetail {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 258px;
  height: 124px;
  border-radius: 5px;
  background-color: #FBFBFB;
}
.cardFoodDetail_container {
  background-color: rgba(255, 0, 0, 0.07);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  width: 60px;
  height: 60px;
}
.cardFoodDetail_content {
  margin-left: 24px;
}
.cardFoodDetail_content h4 {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #282D30;
}
.cardFoodDetail_content span {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #74798C;
}

@media (max-width: 425px) {
  .cardFoodDetail {
    width: 218px;
    height: 84px;
  }
}
.header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100vw;
  height: 9.79vh;
  background-color: #020203;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.header_container {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
.header_container_links {
  padding-left: 0;
  display: flex;
  justify-content: space-around;
  flex: 1;
}

.active {
  color: #FF0101;
}

.logoNavBar {
  display: block;
  margin-left: 29px;
}

@media (max-width: 768px) {
  .header {
    height: 7.53vh;
  }
  .logoNavBar {
    height: 50px;
    width: auto;
  }
}
@media (max-width: 625px) {
  .logoNavBar {
    display: none;
  }
}
.asideBar {
  position: absolute;
  left: 0;
  width: 117px;
  height: 100vh;
  display: flex;
  justify-content: center;
  color: white;
  background: #020203;
  z-index: 5;
}
.asideBar_ul {
  padding-left: 0;
  margin-top: 26vh;
}
.asideBar_ul_li {
  margin-bottom: 20px;
}
.asideBar_copyright {
  position: absolute;
  bottom: 59px;
}
.asideBar_copyright p {
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  transform: rotate(180deg);
  writing-mode: vertical-lr;
}

@media (max-width: 1024px) {
  .asideBar {
    height: 152vh;
  }
}
@media (max-width: 768px) {
  .asideBar {
    width: 70px;
    height: 200vh;
  }
  .logoAsideBar {
    height: 50px;
    width: auto;
  }
}
.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.home_title {
  color: #FF0101;
}

.titleContent {
  margin: 23px 90px 0 109px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.titleContent h1 {
  font-weight: 500;
  font-size: 48px;
  line-height: 24px;
}
.titleContent h1 span {
  text-align: left;
  color: #FF0101;
}
.titleContent h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.profile {
  margin: 32px 90px 0 109px;
  display: grid;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
}
.profile_activityContent {
  grid-area: 1/1/2/4;
  height: 320px;
  border-radius: 5px;
  background-color: #FBFBFB;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.0212249);
}
.profile_sessions {
  grid-area: 2/1/3/2;
  height: 263px;
  border-radius: 5px;
  background-color: #E60000;
}
.profile_performance {
  grid-area: 2/2/3/3;
  height: 263px;
  border-radius: 5px;
  background-color: #282D30;
}
.profile_score {
  grid-area: 2/3/3/4;
  height: 263px;
  border-radius: 5px;
  background-color: #FBFBFB;
}
.profile_infoContent {
  grid-area: 1/4/3/5;
  display: flex;
  flex-direction: column;
  gap: 39px;
}

@media (max-width: 1024px) {
  .profile {
    grid-template-columns: repeat(3, 1fr);
  }
  .profile_infoContent {
    grid-area: 1/1/2/4;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .profile_activityContent {
    grid-area: 2/1/3/4;
  }
  .profile_sessions {
    grid-area: 3/1/4/2;
  }
  .profile_performance {
    grid-area: 3/2/4/3;
  }
  .profile_score {
    grid-area: 3/3/4/4;
  }
}
@media (max-width: 768px) {
  .titleContent {
    margin: 23px 30px 0 30px;
  }
  .profile {
    margin: 32px 30px 0 30px;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    grid-template-columns: 1fr;
  }
  .profile_infoContent {
    grid-area: 1/1/2/2;
  }
  .profile_activityContent {
    grid-area: 2/1/3/2;
  }
  .profile_sessions {
    grid-area: 3/1/4/2;
  }
  .profile_performance {
    grid-area: 4/1/5/2;
  }
  .profile_score {
    grid-area: 5/1/6/2;
  }
}
@media (max-width: 425px) {
  .titleContent {
    margin: 23px 15px 0 15px;
  }
  .titleContent h1 {
    font-size: 38px;
  }
  .titleContent h2 {
    font-size: 15px;
  }
  .profile {
    margin: 32px 15px 0 15px;
  }
}
.setting {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.community {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.notFound {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 12px;
  text-align: center;
}
.notFound_title {
  font-size: 65px;
  color: #FF0101;
}
.notFound_text {
  color: #20253A;
}
.notFound_link {
  color: #74798C;
}

main {
  display: flex;
}

section {
  width: 100vw;
  height: 90.21vh;
  padding-left: 117px;
  padding-top: 9.79vh;
}

@media (max-width: 768px) {
  section {
    height: 92.47vh;
    padding-left: 70px;
    padding-top: 7.53vh;
  }
}
