// Utiles
@use "utils/variables";

// Components
@use "components/activity";
@use "components/button";
@use "components/cardFoodDetail";
@use "components/customTooltip";
@use "components/sessions";

// Layout
@use "layout/navBar";
@use "layout/asideBar";

// Pages
@use "pages/home";
@use "pages/profile";
@use "pages/setting";
@use "pages/community";
@use "pages/notFound";

main {
  display: flex;
}

section {
  width: 100vw;
  height: 90.21vh;
  padding-left: 117px;
  padding-top: 9.79vh;
}

@media (max-width: 768px) {
  section {
    height: 92.47vh;
    padding-left: 70px;
    padding-top: 7.53vh;
  }
}
